extends ../layout

block title
	| Registration Confirmed

block content
	div.jumbotron
		div.container
			h1 Registration Confirmed
			p Your account was successfully created.
			br
			a.btn.btn-success.waves-effect.waves-light(href='/') Go to Home